{
  "plugins": ["@loadable/babel-plugin", "transform-es2015-arrow-functions"],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [
            "> 2%",
            "last 2 Chrome major versions",
            "last 2 Firefox major versions",
            "last 2 Edge major versions",
            "last 2 Safari major versions",
            "ie 11",
            "last 3 Android major versions",
            "last 3 ChromeAndroid major versions",
            "last 2 iOS major versions"
          ]
        },
        "useBuiltIns": "entry",
        "include": ["es6.map", "es6.set", "es7.array.includes"]
      }
    ]
  ],
  "env": {
    "development": {
      "compact": false,
      "plugins": ["@babel/plugin-transform-react-jsx-source"]
    },
    "production": {
      "compact": true
    }
  }
}
